*.pyc
migrations
vagrant/.vagrant
vagrant/site.retry
vagrant/a4keypair.pem
.env
.DS_Store
preprocess
venv
.gitignore
app/irsystem/models/doc_norm.json
app/irsystem/models/idf.json
app/irsystem/models/neighborhood_idx_dict.json
app/irsystem/models/tf.json
