@charset "utf-8";
html, body {
    position: relative;
    height: 100%;
}
body {
    background: #fff;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color:#000;
    margin: 0;
    padding: 0;
}

nav .navbar .navbar-inverse .navbar-fixed-top{
  background: transparent;
  border: none;
  height: 70px;
  opacity:0.9;
}

.navbar-brand img {
  height:40px;
  width:40px;
}
.nav-container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.nav-container button {
  color:#37b0e9;
}

.nav-container .collapse .navbar-colapse {
  color:white;
}

.search-container{
    width: 100%;
    height: 100%;
    /* padding: 60px; */
    /*
    margin-left: 0;
    margin-right: 0;
    */
}
.search-slide {
  width: inherit;
  height: inherit;
  background-size: cover;
  background-position: center;
  background-image: url('image/background.jpeg')
}

.under-logo-text {
  font-family: 'Pacifico', cursive;
  color: white;
  font-size: 20px;
}

p .information {
  font-family: 'Rancho', cursive;
  color: white !important;
  font-size: 25px;
  line-height: 1;
}
.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
  flex-wrap: wrap;
}
.row > [class*='col-'] {
  display: flex;
  flex-direction: column;
}
/* [type="submit"] {
  background-color: #68BEA4;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
} */
