<!DOCTYPE html>
<html>
<head>
  <title> Foodies </title>


  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

  <!--
  Import
  -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link href="{{url_for('static', filename='style.css')}}" rel="stylesheet">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <link rel="shortcut icon" type="image/x-icon" href="{{url_for('static', filename='image/iconletter.png')}}">
</head>

<body>
  <nav class="navbar navbar-inverse navbar-fixed-top" style="background: transparent; border: none; height: 70px; opacity:0.9;">
    <div class="nav-container">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">
          <img src="{{url_for('static', filename='image/icon.png')}}" alt="asdf">
        </a>
      </div>
    </div>
  </nav>
  <div class="search-container" background-color="white">
    <div class="search-slide" id="search-slide">
      <div class="container" style="padding-top:20vh">
        <div class="text-center">
          <img src="{{url_for('static', filename='image/logo2.png')}}" style="width: inherit; height: auto">
          <!-- <h3 style="font-size: 120px; color: white">
            FOODIES
          </h3> -->
        </div>
        <div class="row">
          <div class="text-center">
            <form>
              <div class="form-group form-inline">
                <div class = "input-group">
                  <!-- <span class="input-group-addon" id="basic-addon1"></span> -->
                  <select class="form-control" name = "city">
                    <option value="" selected disabled hidden>Choose Your City</option>
                    <option value="san_francisco">San Francisco</option>
                    <option value="las_vegas">Las Vegas</option>
                    <option value="pittsburgh">Pittsburgh</option>
                  </select>
                </div>
                <div class = "input-group">
                  <!-- <span class="input-group-addon" id="basic-addon1">@</span> -->
                  <input style="width: 300px;" id="neighborhood" type="text" class="form-control" name = "neigh" placeholder="Neighborhood/Zipcode">
                </div>
                <!-- <input id="input" type="text" name="price" class="form-control" placeholder="Price Range"> -->
                <!-- <div class = "input-group">
                  <select class="form-control" name = "price">
                    <option value="0">Any Price</option>
                    <option value="1">Less than $10</option>
                    <option value="2">$11 - $30</option>
                    <option value="3">$31 - $60</option>
                    <option value="4">More than $60</option>
                  </select>
                </div> -->
                <!-- <input id="input" type="text" name="cred" class="form-control" placeholder="Credibility"> -->
                <div class = "input-group">
                  <!-- <span class="input-group-addon" id="basic-addon1">@</span> -->
                  <select class="form-control" name = "time">
                    <option value="0">Any Time</option>
                    <option value="1">Past Month</option>
                    <option value="6">Past Six Months</option>
                    <option value="12">Past Year</option>
                  </select>
                </div>
                <div class = "input-group">
                  <!-- <span class="input-group-addon" id="basic-addon1">@</span> -->
                  <select class="form-control" name = "cred">
                    <option value="All Users">All Users</option>
                    <option value="Elite Users">Only Elite</option>
                  </select>
                </div>
                <!-- <input id="input" type="text" name="time" class="form-control" placeholder="Recent"> -->
                <button type="submit" class="btn btn-info"> Go! </button>
              </div>
            </form>
        </div>
      </div>
    </div>
  </div>




  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <script src="{{url_for('static', filename='main.js')}}" type="text/javascript"></script>

</body>

</html>
